<a href="https://colab.research.google.com/github/akhiltabjula/ComputationalMethodsForInformationSystems/blob/master/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
#generate random numbers with repetition
import random as rd
import numpy as np
r = [rd.randrange(1,100) for i in range(1,12)]
print("The actual list ---> ",r)
print("Values after sorting ---> ",sorted(r))
print("Average of list ---> ",np.average(r))

The actual list --->  [75, 11, 1, 24, 17, 2, 82, 27, 60, 7, 23]
Values after sorting --->  [1, 2, 7, 11, 17, 23, 24, 27, 60, 75, 82]
Average of list --->  29.90909090909091

In [ ]:
# generate random numbers without repetition
import random
res = random.sample(range(1,100), 12)
print("The actual list ---> ",res)
print("Values after sorting ---> ",sorted(res))
print("Average of list ---> ", np.average(res))

The actual list --->  [14, 90, 89, 61, 15, 98, 27, 40, 97, 34, 91, 2]
Values after sorting --->  [2, 14, 15, 27, 34, 40, 61, 89, 90, 91, 97, 98]
Average of list --->  54.833333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
#2.1

#Prompt user to enter two sentences

ip1 = input("Enter first sentence ---> ")
ip2 = input("Enter second sentence ---> ")

Enter first sentence ---> Under the title Et Sofer, " Pen of the Writer" (Lyk, 1864), David Kimhi composed a sort of grammatical compendium
Enter second sentence ---> it consists, for the most part, of extracts from the Miklol.

In [ ]:
#2.2
#convert sentence to list

#regex pattern
import re
#(\w+|[^\w\s]) extracts punctuations
res1 = re.compile(r'\w+|[^\w\s]').findall(ip1)
res2 = re.compile(r'\w+|[^\w\s]').findall(ip2)
print("List of strings with punctuations for input 1 ---> ", res1)
print("List of strings with punctuations for input 2 ---> ", res2)

List of strings with punctuations for input 1 --->  ['Under', 'the', 'title', 'Et', 'Sofer', ',', '"', 'Pen', 'of', 'the', 'Writer', '"', '(', 'Lyk', ',', '1864', ')', ',', 'David', 'Kimhi', 'composed', 'a', 'sort', 'of', 'grammatical', 'compendium']
List of strings with punctuations for input 2 --->  ['it', 'consists', ',', 'for', 'the', 'most', 'part', ',', 'of', 'extracts', 'from', 'the', 'Miklol', '.']

In [ ]:
#2.3
#(r'\w+') extracts only words

def words_list(val):
  return re.compile(r'\w+').findall(val)
print("common words in both inputs ---> ",set(words_list(ip1))&set(words_list(ip2)))

common words in both inputs --->  {'the', 'of'}

In [ ]:
#2.4
def remove_punctuations(ip):
  return ''.join((c if c.isalnum() else ' ') for c in ip)

print("Input1 after removing punctuations ---> ", remove_punctuations(ip1))
print("Input2 after removing punctuations ---> ", remove_punctuations(ip2))

Input1 after removing punctuations --->  Under the title Et Sofer    Pen of the Writer   Lyk  1864   David Kimhi composed a sort of grammatical compendium
Input2 after removing punctuations --->  it consists  for the most part  of extracts from the Miklol

In [ ]:
#2.5



letters1 = list()
values1 = list()

def countVowels(ip):
  
  v = ['a','A','e','E','i','I','o','O','u','U']  
  for i in v:
    res = ip.count(i)
    if res>0:
      letters1.append(i)
      values1.append(res)
  return dict(zip(letters1,values1))

print("Vowels count in input 1 ---> ",countVowels(ip1))
print("Vowels count in input 2 ---> ",countVowels(ip2))

Vowels count in input 1 --->  {'a': 5, 'e': 9, 'E': 1, 'i': 7, 'o': 7, 'u': 1, 'U': 1}
Vowels count in input 2 --->  {'a': 2, 'e': 3, 'E': 1, 'i': 3, 'o': 6, 'u': 1, 'U': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
#compute the volume of sphere
import math
def  volume_of_sphere():
  print("r    v")
  for i in range(1,11):
    print(i,"  ",4*(math.pi)*pow(i,3)/3)
  pass
volume_of_sphere()

r    v
1    4.1887902047863905
2    33.510321638291124
3    113.09733552923255
4    268.082573106329
5    523.5987755982989
6    904.7786842338604
7    1436.755040241732
8    2144.660584850632
9    3053.6280592892786
10    4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
import pandas as pd


data = pd.read_csv("https://raw.githubusercontent.com/unt-iialab/INFO5731_FALL2020/master/Assignments/Assignment1_denton_housing.csv",skip_blank_lines=True)

#question 1
#filter the dataset basing on title field = occupied housing units
data_occupied_housing_units = data[(data["title_field"]=="Occupied Housing Units")].sort_values(by='year',ascending=True)
#compute the difference, sort the values  and drop the NaN fields if any
print(data_occupied_housing_units['value'].diff().sort_values().dropna())

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
Name: value, dtype: float64

In [ ]:
#question 2

#extract the values to list
data_occupied_housing_units_value = data_occupied_housing_units["value"].to_list()
data_vacant_housing_units_value = data[(data["title_field"]=="Vacant Housing Units")].sort_values(by='year',ascending=True)["value"].to_list()
total_field_unit_value = data[(data["title_field"]=="Total Housing Units")].sort_values(by='year',ascending=True)["value"].to_list()
data_year = sorted(data['year'].unique())

#compute percentage
def fetch_percentages(val,tot):
  l = len(val)
  res = list()
  for i in range(l):
    res.append(str(round(val[i]*100/tot[i],2))+"%")
  return res
  pass

occupied_units_percentage = fetch_percentages(data_occupied_housing_units_value,total_field_unit_value)
vacant_units_percentage = fetch_percentages(data_vacant_housing_units_value,total_field_unit_value)

df_row = pd.concat([pd.DataFrame(data_year,columns=['year']),
                    pd.DataFrame(vacant_units_percentage,columns=['| vacant housing percentage']), 
                    pd.DataFrame(occupied_units_percentage,columns=['| occupied housing percentage'])],axis=1)
print(df_row)

   year | vacant housing percentage | occupied housing percentage
0  2008                      10.88%                        89.12%
1  2009                       9.07%                        90.93%
2  2010                       8.14%                        91.86%
3  2011                       9.38%                        90.62%
4  2012                       6.68%                        93.32%
5  2013                        8.8%                         91.2%
6  2014                       5.73%                        94.27%

In [ ]:
#question 3

def fetch_the_year(housing_unit,max_units):
  return data_year[housing_unit.index(max_units)]
  pass

val = ["Vacant Housing Units","Occupied Housing Units"]
years = list()
units = list()
max_vacant_units = max(data_vacant_housing_units_value)
units.append(max_vacant_units)
years.append(fetch_the_year(data_vacant_housing_units_value,max_vacant_units))
max_occupied_units = max(data_occupied_housing_units_value)
units.append(max_occupied_units)
years.append(fetch_the_year(data_occupied_housing_units_value,max_occupied_units))
df_row = pd.concat([pd.DataFrame(val,columns=['']),
                    pd.DataFrame(years,columns=['year']), 
                    pd.DataFrame(units,columns=['units'])],axis=1)

df_row

                           year  units
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

In [ ]:
#question 4
from scipy import stats
print('harmonic mean of total housing units =', round(stats.hmean(total_field_unit_value),2))

harmonic mean of total housing units = 44398.29